---
import MentorLayout from '../../layouts/MentorLayout.astro';
import { PriorityPostList } from '../../components/mentor/PriorityPostList.tsx';
---

<MentorLayout title="Priority Feed">
  <div class="mx-auto w-full max-w-4xl px-4 py-8 sm:px-6 lg:px-8">
    <PriorityPostList client:load />
  </div>
</MentorLayout>
